@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLi {
    @apply text-primaryColor hover:text-secondaryColor cursor-pointer duration-300;
  }
}

.logo{
  font-size: 2rem;
  color:rgb(52 73 94);
}
.logo span{
  font-family:'Pacifico', cursive ;
}

